[program:discord-dm-searcher]
command=bash -c 'docker rm -f discord-dm-searcher || true && docker run --name discord-dm-searcher -v /home/YOU/discord-dm-searcher/summaries:/app/summaries -v /home/YOU/discord-dm-searcher/searches:/app/searches -v /home/YOU/discord-dm-searcher/import:/app/import -v /home/YOU/discord-dm-searcher/OPENAI_KEY.txt:/app/OPENAI_KEY.txt:ro discord-dm-searcher'
directory=/home/YOU/discord-dm-searcher
autostart=true
autorestart=true
stderr_logfile=/var/log/discord-dm-searcher.err.log
stdout_logfile=/var/log/discord-dm-searcher.out.log
user=root
