[program:discord-dm-searcher]
command=sh ./run_container.sh 2>&1 | ./log_with_timestamp.sh
directory=/home/YOU/discord-dm-searcher
autostart=true
autorestart=true
stderr_logfile=/var/log/discord-dm-searcher.err.log
stdout_logfile=/var/log/discord-dm-searcher.out.log
user=root
